<div class="row feed">
    <div class="col-md-4">
        <div ng-hide="currentUser" class="login-box">
            <h4>Login</h4>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" size="30" placeholder="Username" ng-model="username">
            </div>
            <br>
            <br>
            <div class="input-group">
                <input type="password" class="form-control" size="30" placeholder="Password" ng-model="password">
            </div>
            <br>
            <br>
            <button type="button" class="btn btn-primary btn-lg" ng-click="signin()">Sign In</button>
            <br>
            <br>
            <br>
            <h5>Forget Password?</h5>
            <div class="input-group">
                <input type="email" class="form-control" size="30" placeholder="Email" ng-model="resetEmail">
            </div>
            <br>
            <button type="button" class="btn btn-primary btn-lg" ng-click="resetPassword()">Reset</button>
            <br>
            <br>
            <a href="/signup">Not a member? Signup</a>
        </div>
        <div ng-show="currentUser">
            Hello, {{ currentUser }}.
            <br>
            <br>
            <a href ng-click="logout()">Logout</a>
        </div>
    </div>
    <div class="col-md-8">
        <div class="pull-right"><a href="/audittrail">Audit Trail</a></div>
        <div class="new-meow" ng-show="currentUser">
            <input type="text" class="form-control" ng-model="newMeow" placeholder="What do you have to meow today?">
            <button type="button" class="btn" ng-click="submitNewMeow()">Submit</button>
        </div>
        <div class="panel panel-defult" ng-repeat="meow in meows | orderBy:'text'" ng-class="{ 'gray-meow' : $even }">
            <div class="panel-body">
                <span class="glyphicon glyphicon-user user-icon" aria-hidden="true"></span>
                <span class="meow-text">{{ meow.text }}</span>
                <a href ng-click="removeMeow(meow)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                <br>
                <small class="meow-user">{{ meow.username }}</small>
            </div>
        </div>
        <!-- <h3 ng-repeat="meow in meows">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            {{ meow.text }}
            <a href ng-click="removeMeow(meow)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            <br>
            <small>{{ meow.username }}</small>
        </h3>
 -->
    </div>
</div>
